* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.maincolumn {
  flex: 1;
  background-color: #eee;
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: column-reverse;
  flex: 0.2;
  background-color: #ccc;
  min-width: 150px;
  padding: 10px;
}

.filterlist {
  flex: 0.5;
  margin-bottom: 10px;
}
